
footer {
    font-style: italic;
    font-size: 32px;
    background-image: linear-gradient(175deg, #ffffb1 0, #fdf391 25%, #d8d86c 50%, #b3be48 75%, #91a827 100%);
    text-align: center;
    padding: 150px 0;
    margin: 20px,0,0,0;
    line-height: 1.5em;
    
 }
 
.contact{
    
    color: white;
    text-decoration: none;

}

.skills{
    color: white;
    text-decoration: none;
    margin: 5%;

}

.sobre{
    color: white;
    text-decoration: none;
    margin: 5%;
}

 .seleccion{
    background-image: linear-gradient(175deg, #d3d335 0, #7ad689 25%, #e4d871 50%, #b3be48 75%, #85a3e4 100%);
    text-align: center;
    font-size: 30px;
    line-height: 1.8em;
    text-align: center; 
    margin:10px,0,0,0 ;
    padding: 100px,0;

 }

 .photo{
    float:left;
    height: 10%;
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.container{
    
   text-align: right;
    place-items: center;
  
  }
  ::selection{
    color: #fff;
  background: #6665ee;
}
.skill-bars{
  padding: 25px 30px;
  width: 600px;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  border-radius: 10px;
  
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #6665ee;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.html span{
  width: 90%;
}
.bar .progress-line.css span{
  width: 60%;
}
.bar .progress-line.jquery span{
  width: 85%;
}
.bar .progress-line.python span{
  width: 50%;
}
.bar .progress-line.mysql span{
  width: 75%;
}
.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.html span::after{
  content: "90%";
}
.progress-line.css span::after{
  content: "60%";
}
.progress-line.jquery span::after{
  content: "85%";
}
.progress-line.python span::after{
  content: "50%";
}
.progress-line.mysql span::after{
  content: "75%";
}



.description{
    font-size: 35px;
    padding: 33px;
    font-weight: 50px;
}
.about{
    background-color: white;
    font-size: 25px;
    line-height: 1.5em;
    text-align: center;
    padding: 80px;
 
}

.option{
    background-image: linear-gradient(175deg, #ffffb1 0, #7ad689 25%, #e4d871 50%, #b3be48 75%, #85a3e4 100%);
    text-align: center;
    font-size: 25px;
    line-height: 1.2em;
    text-align: center; 
    margin:20px,0,0,0 ;
    padding: 125px, 0;
}
.input{
    text-align: center;
}
    
.registro{
    font-size: 35px;
    padding: 80px;
    font-weight: 30px;
}
.form{

    background-image: linear-gradient(175deg, #ffffb1 0, #ec94af 25%, #7c3f72 50%, #b3be48 75%, #91a827 100%);
    text-align: center;
    font-size: 25px;
    line-height: 1.5em;
    text-align: center;
    padding: 120px, 0;
    margin:20px,0,0,0 ;
    display: flexbox; justify-content: flex-init;

}

    
    